DATABASE_URL=postgresql://asforaa@127.0.0.1:55432/elysium
ELYSIUM_MEDIA_ROOT=/home/asforaa/homeserver/Elysium Media
ELYSIUM_SERVER_MEDIA_ROOT=/home/asforaauwu/Elysium Media
ELYSIUM_IMPORT_REPORT_DIR=docs/import-reports
